node_modules/
/api.d.ts
/.idea/
/coverage/
/reports/
/keys/
/.turbo/
/certs/
/logs/
/docs/_site

.DS_Store
.sass-cache
.jekyll-metadata

*-debug.log*
*.env
*.rej
*.log
*.crt
*.key
*.pem
*.wav

codeql-runner
*.sqlite
